header{
    overflow: hidden;
    height:5rem;
    /* height:24rem; */
    /* background-color: #fff; */
    position: fixed;
    width:100%;
    left:0;
    top:0;
    /* transition:all 0.4s ease 0s; */
    color: #fff;
    z-index: 1000;
}
header:hover{
    height:24rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.439);
    background-color: #fff;
    color: #000;
}


header:hover .logo a img{
    opacity: 0;
}
header:hover .logo a{
    background: url("../img/logo_black.svg") no-repeat 50% 50% /cover;
    height: 4rem;
    margin-top: 0.5rem;
}


header:before{
    content:"";
    position:absolute;
    width:100%;
    height:0.2rem;
    left:0;
    top:4.8rem;
    background-color: var(--main-color);
    z-index: -1;
}
header .commonFrame{
    display: flex;
    justify-content: space-between;
}

.logo a{
    display:block;
}
.logo a img{
    height:4rem;
    object-fit: cover;
    margin-top: 0.5rem;
}
.gnb{
    display: flex;
    /* color:#fff; */
}
.gnb>li{
    margin-right:var(--space-middle);
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.gnb>li>a{
    display: flex;
    height:5rem;
    align-items: center;
}
.gnb>li>a:hover{
    text-decoration: underline;
}
.gnb>li>ul{
    color:#000;
    margin-top:var(--space-small);
}
.gnb>li>ul>li>a{
    display: flex;
    height:3rem;
    align-items: center;
}
.gnb>li>ul>li>a:hover{
    color:var(--main-color);
    text-decoration: underline;
}




 .hero_pc_tab{
    width: 100%;
 }
 .hero_pc_tab .station{
    width: 100%;
    overflow: hidden;
    min-height: 80vh;
 }
 .hero_pc_tab .train{
    width: 300%;
    display: flex;
    height: 100%;
    min-height: 80vh;
 }
 .hero_pc_tab li{
    width: 33.333%;
    height: 100%;
    min-height: 80vh;
 }
 .hero_pc_tab img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    min-height: 80vh;
 }
/* .commonFrame{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
} */
.station1{
    width: 100%;
    height: auto;
}
/* .station1 img{
    height: 100%;
    object-fit: cover;
} */
.station1 .swiper-pagination-bullet {
    width: 0.5rem;
    height:0.5rem;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.station1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}

.train{
    transition: all 0.5s ease 0s;
}
.type1{
    display: flex;
    margin-top: var(--space-xlarge);
    gap: 4rem;
    align-items: center;
    margin-bottom: var(--space-xlarge);
}
.type1>figure{
    flex: 1;
}
.type1 section{
    flex: 1;
}
.type1 img{
    object-fit: cover;
}
.type1 h2{
    margin-bottom: var(--space-middle);
}
.type1 h3{
    margin-bottom: var(--space-small);
}
.type1 p{
    margin: var(--space-small) 0;
    text-align: justify;
}

.title1 h2{
    margin-bottom: var(--space-small);
}
.title2{
    text-align: center;
}
.title2 h2{
    margin-bottom: var(--space-small);
}
.title3{
    text-align: center;
    position: relative;
}
.title3 h2{
    margin-bottom: var(--space-middle);
}
.title3:after{
    content: "";
    position: absolute;
    left: calc(50% - 2.5rem);
    top: 3.75rem;
    width: 5rem;
    height: 0.25rem;
    background-color: var(--main-color);
}
.title4{
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
}
.title4 h2{
    margin-bottom: var(--space-small);
}
.title4:after{
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 4rem;
    left: calc(50% - 0.1rem);
    bottom: 0;
    background-color: var(--main-color);
}

.commonFrame.desc1{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-middle);

}
.commonFrame.desc1>*{
    flex: 1;
}
.commonFrame.desc1 figure img{
    border: 0.15rem solid var(--main-color);
}
.txt{
    padding-top: var(--space-middle);
}
.txt h3{
    margin-bottom: var(--space-small);
}
.txt p{
    margin: var(--space-small) 0;
    text-align: justify;
}

.commonFrame.desc2{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-middle);
    flex-direction: row-reverse;
}
.commonFrame.desc2>*{
    flex: 1;
}
.commonFrame.desc2 figure img{
    border: 0.15rem solid var(--main-color);
}

.commonFrame.last_desc{
    margin-bottom: var(--space-xlarge);
}
.commonFrame.fade{
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    align-items: flex-end;
    gap: 4rem;
}
.commonFrame.fade>*{
    flex: 1;
}
.fade_txt h3{
    margin-bottom: var(--space-middle);
}
.fade_txt p{
    margin: var(--space-small) 0;
}
.station4{
    pointer-events: none;
}
.outer_frame{
    color: #fff;
    padding: var(--space-xlarge) 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.75) url("../img/open-100.jpg") no-repeat 50% 50% / cover;
    background-blend-mode: overlay;
}
.outer_frame .commonFrame>*{
    margin: var(--space-small) 0;
}
.outer_frame .commonFrame>p:nth-of-type(1){
    margin-bottom: var(--space-large);
}
.direct{
    padding-top: var(--space-small);
    display: flex;
    justify-content: center;
    gap: 2rem;
}
footer{
    background-color: #000;
    color: #fff;
    border-top: 0.1rem solid var(--main-color);
    padding-top: var(--space-middle);
    padding-bottom: var(--space-xlarge);
}
footer .commonFrame{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.footer_sns img{
    height: 2rem;
}
.footer_logo img{
    height: 8.25rem;
}
.footer_menu{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-small);
    font-weight: var(--font-bold);
}
.info{
    margin-bottom: var(--space-middle);
    color: var(--point-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--space-small);
}
.footer_sns{
    display: flex;
    gap: var(--space-small);
}
.copyright{
    color: var(--point-color);
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
main {
    /* margin-top: 5rem; */
    /* margin-bottom: var(--space-xlarge); */
}
.commonFrame.ml{
    margin-top: var(--space-xlarge);
    padding-top: var(--space-xlarge);
    margin-bottom: var(--space-large);
}
.commonFrame.desc3{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    /* align-items: center; */
}
.commonFrame.desc3 .txt{flex: 6;}
.commonFrame.desc3 figure{flex: 5;}
.commonFrame.desc3 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.station5 li>*{
    margin-bottom: var(--space-small);
}
.station5 li>*:last-child{
    margin-bottom: 0;
}
.station5 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonFrame.station5{
    padding-bottom: var(--space-large);
}
.station5 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}
.commonFrame.station5.swiper{
    margin-bottom: var(--space-xlarge);
}
.station6 li>*{
    margin-bottom: var(--space-small);
}
.station6 li>*:last-child{
    margin-bottom: 0;
}
.station6 figure{
    width: 100%;
    height: 20rem;
}
.station6 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonFrame.station6{
    padding-bottom: var(--space-large);
}
.station6 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}
.commonFrame.station6.swiper{
    margin-bottom: var(--space-xlarge);
}
.commonFrame.desc3 figure.deli_hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 80%;
}

.sub_banner{
    height: 35rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 var(--space-small);
}
.sub1{
    background: 
    linear-gradient(180deg,#000,rgba(255, 255, 255, 0)),
    url("../img/sub_banner1.jpg") no-repeat 50% 50% / cover;
    background-blend-mode: multiply;
}
.banner_txt h2{
    margin-bottom: var(--space-small);
}

.option_bar{
    margin: var(--space-middle) auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .option_admin.gap{
    display: flex;
    gap: 1rem;
} */
.notice_form{
    margin-bottom: var(--space-small);
}
.list_table{
    table-layout: fixed;
    width: 100%;
}
.list_table th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}
.list_table th:last-of-type{
    width: 15%;
}
.list_table th:nth-of-type(4){
    width: 15%;
}
.list_table th:nth-of-type(3){
    width: 57%;
}
.list_table th:nth-of-type(2){
    width: 7%;
}
.list_table th:nth-of-type(1){
    width: 6%;
}

.list_table td{
    text-align: center;
    padding: 1rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.list_table td a{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.list_table td:nth-of-type(3){
    text-align: left;
}

.commonFrame.bbs_pagination{
    margin-bottom: var(--space-xlarge);
   }



.option_admin{
 display: none;
}
.admin .option_admin{
    display: flex;
}
.cell_admin{
    display: none;
}
.admin .cell_admin{
    display: table-cell;
}

.form_title label{
    display: none;
}

.form_title{
    border-bottom: 1px solid black;
    margin-bottom: var(--space-small);
}
.form_title input{
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem;
    border: none;
}
.form_title input::placeholder{
    color: var(--inactive-color);
    font-weight: var(--font-medium);
}
.form_desc label{
    display: none;
}
textarea{
    font-size: 0.9rem;
}
.form_desc{
    /* border: 1px solid black;
    border-radius: 1rem; */
    margin-bottom: var(--space-small);
}
.form_desc textarea{
    display: block;
    width: 100%;
    height: 20rem;
    resize: none;
    padding: 0.4rem 0.5rem;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    margin-bottom: var(--space-small);
}
textarea{
    outline: 0;
}
.form_desc textarea::placeholder{
    color: var(--inactive-color);
    font-weight: var(--font-medium);
}
.form_submit{
    /* border: 1px solid red; */
    margin-bottom: var(--space-xlarge);
    display: flex;
    justify-content: flex-end;
    gap: var(--space-small);
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: all 0.3s ease 0s; */
    pointer-events: none;
}
.modal.on{
    opacity: 1;
    pointer-events: auto;
}
.popups{
    /* border: 1px solid lime; */
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100000;
    transform: translate(-50%,-50%);
    color: #fff;
    width: 60%;
    text-align: center;
    display: none;
}
.popups.on{
    display: block;
}
.popup_title{
    margin-bottom: var(--space-small);
}

.large_margin{
    margin: var(--space-large) auto;
}
.view_info{
    display: flex;
    gap: var(--space-small);
}
.button_list{
    gap: var(--space-small);
}
.button_list img{
    height: 1.2rem;
    object-fit: contain;
}
.bb{
    border-bottom: 1px solid var(--inactive-color);
    padding: 0.5rem 0;
    border-top: 1px solid var(--inactive-color);
}
.view_txt{
    padding: 0.5rem;
    min-height: 35rem;
    margin-bottom: var(--space-small);
}
.lmb{
    margin-bottom: var(--space-large);
}
.fixed_menu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;
    transform: translateX(150%);
    /* transition: all 0.5s ease 0s; */
}
.fixed_menu.on{
    transform: translateX(0%);
}
.fixed_menu li{
    margin: 0.5rem 0;
}
.fixed_menu img{
    height: 1.1rem;
    object-fit: contain;
}
.fixed_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--main-color);
    border-radius: 50%;
}